<% if ((@result.present?) && (@result.size > 0)) %>
  <% if ((params[:field_patient].present?) && (params[:field_patient] != '')) %>
  <%= link_to 'New Patient', new_patient_path, class: "btn btn-primary float-right" -%>
  <h1>Search: Patients</h1>
  <hr>
  <table id="t-patients" class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date Birth</th>
          <th>Qty Exams</th>
          <th>Date Last Exam</th>
          <th></th>
        </tr>
      </thead>
    
      <tbody>
        <% @result.each do |patient| -%>
          <tr>
            <td><%= link_to patient.name, patient -%></td>
            <td><%= link_to patient.date_birth.strftime('%d/%m/%Y'), patient -%></td>
            <td><%= link_to (patient.exams.present? ? (link_to patient.exams.count.to_s, patient) : 0), patient -%></td>
            <td><%= link_to (patient.exams.present? ? (link_to patient.exams.last.created_at.strftime('%d/%m/%Y %H:%M:%S'), patient) : "N/A"), patient -%></td>
            <td>
              <div class="float-right">
              <%= link_to 'Show', patient, class: "btn btn-sm btn-info" -%>
              <%= link_to 'Edit', edit_patient_path(patient), class: "btn btn-sm btn-warning" -%>
              <%= link_to 'Destroy', patient, class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } -%>
              </div>
            </td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  <% end %>

  <% if ((params[:field_exam].present?) && (params[:field_exam] != '')) %>
  <%= link_to 'New Exam', new_exam_path, class: "btn btn-primary float-right" %>
  <h1>Search: Exams</h1>
  <hr>
  
  <table id="t-exams" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Patient</th>
        <th>Point N</th>
        <th>Point A</th>
        <th>Point Orio</th>
        <th>Point Orbital</th>
        <th>Angle</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% @result.each do |exam| %>
        <tr>
          <td><%= link_to exam.id.to_s, exam %></td>
          <td><%= link_to exam.patient.name, exam if exam.patient.present? %></td>
          <td><%= link_to "X => #{exam.point_n[:x].to_s}, <br> Y => #{exam.point_n[:y].to_s}".html_safe, exam %></td>
          <td><%= link_to "X => #{exam.point_a[:x].to_s}, <br> Y => #{exam.point_a[:y].to_s}".html_safe, exam %></td>
          <td><%= link_to "X => #{exam.point_po[:x].to_s}, <br> Y => #{exam.point_po[:y].to_s}".html_safe, exam %></td>
          <td><%= link_to  "X => #{exam.point_or[:x].to_s}, <br> Y => #{exam.point_or[:y].to_s}".html_safe, exam %></td>
          <td><%= link_to exam.maxillary_depth_angle.to_s, exam %></td>
          <td>
          <div class="float-right">
            <%= link_to 'Show', exam, class: "btn btn-sm btn-info" %>
            <%= link_to 'Edit', edit_exam_path(exam), class: "btn btn-sm btn-warning" %>
            <%= link_to 'Destroy', exam, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
          </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  
    <tfoot>
      <tr>
        <th>ID</th>
        <th>Patient</th>
        <th>Point N</th>
        <th>Point A</th>
        <th>Point Orio</th>
        <th>Point Orbital</th>
        <th>Angle</th>
        <th></th>
      </tr>
    </tfoot>
  
  </table>

  <% end %>
<% else %>
  <% if params[:field_patient].present? %>
  <h1> No Data Found Patient With Parameter:</h1>
  <h2>
    <%= params[:field_patient].to_s.titleize -%> : <%= params[:field_value] -%>
  </h2>
  <% end %>
  <% if params[:field_exam].present? %>
  <h1> No Data Found Exam With Parameter:</h1>
  <h2>
    <%= params[:field_exam].to_s.titleize -%> : <%= params[:field_value] -%>
  </h2>
  <% end %>
<% end %>