<%= content_for(:title, "Editing Patient: #{@patient.name.truncate(35) if @patient.name.present?}" ) -%>
<h1>Editing Patient: <%= @patient.name -%></h1>
<%= render 'form', patient: @patient %>
<hr>
<table id="t-patient-exams-edit" class="table table-striped mt-5">
  <thead>
    <tr>
      <th>ID</th>
      <th>Type Exam</th>
      <th>Point N</th>
      <th>Point A</th>
      <th>Point P.O.</th>
      <th>Point O.R.</th>
      <th>Angle</th>
      <th class="float-right">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @patient.exams.each do |exam| %>
      <tr>
        <td>
          <%= link_to exam.id.to_s, exam %>
        </td>
        <td>
          <%= link_to exam.types_exam.name, exam if exam.types_exam.present? %>
        </td>
        <td>
          <%= link_to "X => #{exam.point_n.x.to_s}, <br> Y => #{exam.point_n.y.to_s}".html_safe, exam %>
        </td>
        <td>
          <%= link_to "X => #{exam.point_a.x.to_s}, <br> Y => #{exam.point_a.y.to_s}".html_safe, exam %>
        </td>
        <td>
          <%= link_to "X => #{exam.point_po.x.to_s}, <br> Y => #{exam.point_po.y.to_s}".html_safe, exam %>
        </td>
        <td>
          <%= link_to  "X => #{exam.point_or.x.to_s}, <br> Y => #{exam.point_or.y.to_s}".html_safe, exam %>
        </td>
        <td>
          <%= link_to exam.maxillary_depth_angle.to_s, exam %>
        </td>
        <td>
          <div class="float-right">
            <%= link_to 'Show', exam, class: "btn btn-sm btn-info" %>
            <%= link_to 'Edit', edit_exam_path(exam), class: "btn btn-sm btn-warning" %>
            <%= link_to 'Destroy', exam, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
      <tr>
        <th>ID</th>
        <th>Type Exam</th>
        <th>Point N</th>
        <th>Point A</th>
        <th>Point P.O.</th>
        <th>Point O.R.</th>
        <th>Angle</th>
        <th class="float-right">Actions</th>
      </tr>
    </tfoot>
  </table>