<%= content_for(:title, "Exams") -%>
<%= link_to 'New Exam', new_exam_path, class: "btn btn-primary float-right" -%>
<h1>Exams</h1>
<hr>
<table id="t-exams" class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Patient</th>
      <th>Types exam</th>
      <th>Point N</th>
      <th>Point A</th>
      <th>Point P.O.</th>
      <th>Point O.R.</th>
      <th>Angle</th>
      <th class="float-right">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= link_to exam.id.to_s, exam %></td>
        <td><%= link_to exam.patient.name, exam if exam.patient.present? %></td>
        <td><%= link_to (exam.types_exam.present? ? exam.types_exam.name : "N/A"), exam %></td>
        <td><%= link_to "X => #{exam.point_n.x.to_s}, <br> Y => #{exam.point_n.y.to_s}".html_safe, exam %></td>
        <td><%= link_to "X => #{exam.point_n.x.to_s}, <br> Y => #{exam.point_n.y.to_s}".html_safe, exam %></td>
        <td><%= link_to "X => #{exam.point_po.x.to_s}, <br> Y => #{exam.point_po.y.to_s}".html_safe, exam %></td>
        <td><%= link_to "X => #{exam.point_or.x.to_s}, <br> Y => #{exam.point_or.y.to_s}".html_safe, exam %></td>
        <td><%= link_to exam.maxillary_depth_angle.to_s, exam %></td>
        <td>
          <div class="float-right">
            <%= link_to 'Show', exam, class: "btn btn-sm btn-info" -%>
            <%= link_to 'Edit', edit_exam_path(exam), class: "btn btn-sm btn-warning" -%>
            <%= link_to 'Destroy', exam, class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
      <tr>
        <th>ID</th>
        <th>Patient</th>
        <th>Types exam</th>
        <th>Point N</th>
        <th>Point A</th>
        <th>Point P.O.</th>
        <th>Point O.R.</th>
        <th>Angle</th>
        <th class="float-right">Actions</th>
      </tr>
    </tfoot>
</table>
<hr>
<%= link_to 'New Exam', new_exam_path, class: "btn btn-primary" -%>